.ContainerMain{
  background:black;
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ButtonMain{
  cursor: pointer;
  border: 4px solid #535353;
  border-radius: 1rem;
  

  width: 25vh;
  height: 10vh;
}


.ButtonMain:hover{
  transition: 0.5s;
  border-color: #747373;
}

