 .ContainerMain{
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c8f3f6;
}

.ButtonMain{
  cursor: pointer;
  border: 4px solid #06b7c7;
  border-radius: 1rem;
  
  background:#05b2dd;
  width: 40vh;
  height: 10vh;
}


.ButtonMain:hover{
  transition: 0.5s;
  border-color: #097dca;
} 


.carGif{
  display: flex;
  width: 50%;
}

.carGif img{
  width: 70%;
  border-radius: 3rem;

}
