.container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ContainerLogin{
  display: flex;
  margin: 12rem;
  max-width: 1400px;   
}

.ContainerLogin img{
  width: 30rem;
  position: relative;
  right: 3rem;
}

.ContentForm{
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.ContentForm form{
  display: flex;
  flex-direction: column;
  gap: 2vh;
 
  
}

.ContentForm form input{
  height: 5vh;
  border-radius: 5px;
  outline-color: orange;
  border: none;
  /* text-align: center; */
  /* text-align-last: ; */
 
}


#ButtonId{
  margin: 0 auto;
  display: flexbox;
}

#ButtonId button{
  width: 20rem;
  cursor: pointer;
  border-radius: 4rem;
  outline: none;
  border: none;
  background-color: #b1b1b1;
}


#ButtonId button:hover{
  background: #949595;
  transition: 1s;
}

#RegisterLink{
  text-align: center;
  text-decoration: none;
}

#RegisterLink p {
  color: black;
}

#RegisterLink p:hover{
  color: #313131 ;
  transition: 1s;
}

